@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input{
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(/media/fundo_inicial.png);
    background-position: bottom;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    max-width: 1020px;
    width: 100%;
    height: 640px;
    background-color: #fff;
    border-radius: 3.5rem;
    box-shadow: 0 15px 20px 15px rgba(0,0,0,0.30);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #ff2;
    
}

form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 27px;
    margin: 0.5rem;
}

.logo h4 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.heading h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.heading h6 {
    color: #bababa;
    font-weight: 400;
    font-size: 0.80rem;
    display: inline;
}

.toggle {
    color: #151111;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;
}

.toggle:hover {
    color: #00ffd5;
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #acaaaa;
    padding: 0;
    font-size: 1rem;
    color: #151111;
    transition: 0.4s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    font-size: 1rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.2s;
}

.input-field.active {
    border-bottom-color: #151111;
}

.input-field.active + label {
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color: #00ffd5;
}

.text {
    color: #bbb;
    font-size: 0.8rem;
}

.text a {
    color: #bbb;
    transition: 0.3s;
}

.text a:hover {
    color: #00ffd5;
}